.header
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
}

.sideDiv
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	width: 15%;
	float: left;
	text-align: center;
}

#centerDiv
{
	width: 69%;
	float: left;
}


canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

#loadimgbtn {
	width: 20%;	
	background-color: white;
	color: black;
	height: 50px;
	border: 1px solid black;
}

.boundsLabel
{
	text-align: right;
    float:left;
    /*margin-right:15px;*/
    width: 5%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.boundsInput
{
	float:left;
	margin-right:1%;
}

input[name="visualType"]
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}